*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Clear floats after image containers */
.mm_row {
	display: flex;
	justify-content: space-around;
}

.mm_column {
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.mm_column ul {
	padding: 0 20%;
}

fieldset {
	margin: auto;
	padding: 5px 10px;
}
/* table for reportkpi */
.styled-table {
	padding: 0 20px;
    border-collapse: collapse;
    margin: 25px 0;
	margin-left: auto;
  	margin-right: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 600px;
    box-shadow: 0 0
	 20px rgba(0, 0, 0, 0.15);
}

.styled-table th {
    background-color: #009879;
	padding: 12px 35px;
    color: #ffffff;
    text-align: center;
}

.styled-table td {
    padding: 12px 10px;
	text-align: left;
}

.styled-table tr, th, td {
    border: 1px solid #dddddd;
}
.styled-table .center {
	text-align: center;
}

.styled-table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.center-fieldset td{
	height: 40px; 				
	text-align: left;
}

.button {
	font-size: 18px;
	padding: 6px 20px;
	margin-top: 10px;
	margin:auto;
   display:block;				 
}


/* changes texts of errors to red */
.error {
    color: #FF0000;
}
.center,.title, .footer {
    text-align: center;
}

.container{
    margin: auto;
	width: min(80%, 80.5rem);
}

.split{
	display: flex;
	flex-direction: column;
}

.me {
    width: 40%;
    margin: auto;
    display: block;
}

.buttonHolder {
	text-align: center;
}
.buttonHolder input {
	margin: 15px;
	padding: 0 5px;
}
.avatar-img img{
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}
.avatar {
	min-height: 325px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.intro {
	margin: 0 30%;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
	text-align: center;
	padding-bottom: 20px;
}

body, input[type=submit]{
    font-family: "Poppins", sans-serif;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #000000;
	font-family: 'Poppins', sans-serif;
	
}

/*website logo*/
.logo{
	font-family: "Poppins", sans-serif;
	color: rgb(226, 226, 226);
	letter-spacing: 0.3125rem;
	font-size: 1.2rem;	
}

/*format of the links*/
.logo a{
	color: rgb(226, 226, 226);
	text-decoration: none; 	/*removes underline of the text*/
}

.nav-links{
	display: flex;
	justify-content: space-around;
	width: 40%;
	
}
.nav-links li{
	list-style: none;
	
}
.nav-links ul{
	display: none;
	position:absolute;
	background-color: black;
	border-radius: 0 0 0.2rem 0.2rem;
}
.nav-links :hover ul{
	display: block;
}
.nav-links ul a{
	padding: 0.5rem 0.875rem;
}
.nav-links a{
	color: rgb(226, 226, 226);
	text-decoration: none;
	letter-spacing: 0.1875rem;
	font-weight: bold;
	font-size: 0.875rem;
}
/* a{
	color: black;
	text-decoration: none;
} */
a:hover{
color: gray;
}

a:active{
	color: #4ca1af;
}

.nested {
    margin-left: 50px;
}

.container2 {
    padding: 10px;
}